amqp
billiard
celery
certifi
chardet
click
credentials
Flask
Flask-Cors
future
idna
importlib-metadata
itsdangerous
Jinja2
joblib
kombu
MarkupSafe
numpy
opencv-python
phue
python-dotenv
pytz
redis
requests
scikit-learn
scipy
six
spotipy
threadpoolctl
urllib3
vine
Werkzeug
zipp
