.header {
  padding: 10px;
  background-image: linear-gradient(120deg, #155799, #159957);
  text-align: center;
  font-size: 35px;
  color: white;
}

.text__container-main {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  color: #155799;
}

.button__container-upper {
  margin-top: 50px;
  text-align: center;
}

.button__container-bottom {
  margin-top: 5px;
  text-align: center;
}

.button {
  background-color: #155799;
  border: none;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 200px;
}

.footer {
  position: fixed;
  left: 5px;
  bottom: 0;
  width: 100%;
  color: #155799;
  text-align: left;
  font-size: 12px;
}

