.app {
  text-align: center;
}

.app-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  font-size: 2rem;
  color: #ffffff;
}

/* Add media query for mobile */
@media (max-width: 480px) {
  .app-container {
    padding: 30px;
  }
}